/* @import "tailwindcss"; */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

* {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'League Spartan', sans-serif;
}

/* For the brand logo, use League Spartan Bold */
.brand-logo {
  font-family: 'League Spartan', sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
}

html {
  scroll-behavior: smooth;
}